@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .gray-btn {
        @apply rounded-lg border border-transparent bg-gray-200 text-gray-500 hover:border-gray-600 hover:text-gray-600;
    }
    .green-btn {
        @apply rounded-lg border border-transparent bg-green-100 text-green-600 hover:border-green-600;
    }
    .blue-btn {
        @apply rounded-lg border border-transparent bg-blue-100 text-blue-600 hover:border-blue-600;
    }
}
